
.wm-sticky-Nav-Bar{
  background-color: #5087ed;
  position:fixed;
  padding: 10px;
  width: 100%;
  z-index: 2;
}

.wm-margin{
  /*margin-left: 80px;*/
  text-align: right;
}

.wm-course-manage-size{
  font-size: 20px;
  margin-left: 15px;
}

.wm-red{
  color: red;
}

.wm-white{
  color: white;
}

row{
  width:100%
}

.fa-stack{
  vertical-align: top
}

.wm-container{
  padding-top: 58px;
}

thead{
  width: 100%;
}

.fa-folder{
  padding-right: 5px;
}

.fa-sort-alpha-up{
  padding-right: 5px;
}

.fas{
  line-height: unset;
}

.list-group-item.active a{
  color: white;
}

.nav-item.active{
  background-color: #4891e4;
}

.nav-item.active a{
  color: white;
}

